// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:700&display=swap");

// html {
//   font-size: 16px;
// }
// body {
//   font-family: $openSansFontFamily;
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $raleWayFontFamily;
//   font-weight: $headingsFontWeight;
// }
