@import "../../../../assets/styles/libs/vars";
@import "../../../../assets/styles/libs/placeholders";
.chatScreen {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 1rem 0 8rem 0;
}
.typingArea {
  // bottom: 100px;
  width: 100%;
  z-index: 5;
  textarea {
    resize: none;
    width: 100%;
  }
}

.message--user {
  // border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  // color: green;
  color: black;
  background: $chatListBackground;
  align-self: flex-end;
  animation-name: appearAnimation--Left;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
.message--friend {
  // border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  // color: red;
  color: white;

  background: $friendMessage;
  align-self: flex-start;
  animation-name: appearAnimation--Right;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.message {
  @extend %normalBoxShadow;
  // position: absolute;
  padding: 1rem;
  margin-bottom: 1rem;
}

@keyframes appearAnimation--Left {
  from {
    transform: translate(100%, 100%);

    // bottom: 0;
  }
  to {
    transform: translate(0, 0);
    // transform:tr(0);
    // bottom: unset;
  }
}
@keyframes appearAnimation--Right {
  from {
    transform: translate(-100%, 100%);

    // bottom: 0;
  }
  to {
    transform: translate(0);
    // bottom: unset;
  }
}
