@import "../../../../assets/styles/libs/vars";
@import "../../../../assets/styles/libs/placeholders";
.chatScreen {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 1rem 0 100px 0;
}
.typingArea {
  @extend %normalBoxShadow;
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 80px;
  z-index: 5;
  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    border: none;
    background: $sendMessageButton;
    color: white;
  }
  textarea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    outline: none;
    resize: none;
    height: 100%;
    width: 100%;
    background: lighten($chatListBackground, 2%);
    border: none;
    padding: 2rem 1.5rem;
  }
}

.messageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 0.5rem 80px 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.message--user {
  // border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  // color: green;
  color: black;
  background: $chatListBackground;
  align-self: flex-end;
  animation-name: appearAnimation--Left;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
.message--friend {
  // border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  // color: red;
  color: white;

  background: $friendMessage;
  align-self: flex-start;
  animation-name: appearAnimation--Right;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.message {
  @extend %normalBoxShadow;
  // position: absolute;
  padding: 1rem;
  margin-bottom: 1rem;
}

@keyframes appearAnimation--Left {
  from {
    transform: translate(100%, 100%);

    // bottom: 0;
  }
  to {
    transform: translate(0, 0);
    // transform:tr(0);
    // bottom: unset;
  }
}
@keyframes appearAnimation--Right {
  from {
    transform: translate(-100%, 100%);

    // bottom: 0;
  }
  to {
    transform: translate(0);
    // bottom: unset;
  }
}
