.avatar {
  margin:1em 0 2.5em 0;
  img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    pointer-events: none;
  }
  figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
  }
}
